In [1]:
# Importing the important libraries
import pandas as pd 
import numpy as np

In [2]:
# Reading the data
data= pd.read_csv("transformed.csv")
data

,id,dialect,transformed,fineText
0,1175358310087892992,IQ,0,لكن بالنهايه ينتفض يغير
1,1175416117793349632,IQ,0,يعنى هذا محسوب على البشر حيونه ووحشيه وتطلبون...
2,1175450108898565888,IQ,0,مبين من كلامه خليجى
3,1175471073770573824,IQ,0,يسلملى مرورك وروحك الحلوه
4,1175496913145217024,IQ,0,وين هل الغيبه اخ محمد
...,...,...,...,...
458192,1019484980282580992,BH,17,مبسوطين منك اللى باسطانا
458193,1021083283709407232,BH,17,والله ماينده ابش يختى
458194,1017477537889431552,BH,17,شو عملنا لك حنا تهربى مننا احنا مساكين ليش بت...
458195,1022430374696239232,BH,17,الله يبارك فيها وبالعافيه
458196,1022409931029458944,BH,17,السحله ضيفى بتطلع لك سحليه

In [3]:
# Data type of each column
data.dtypes

id              int64
dialect        object
transformed     int64
fineText       object
dtype: object

In [4]:
# Missing values in the data
nullData= data.isnull().sum()
nullData

id              0
dialect         0
transformed     0
fineText       20
dtype: int64

In [5]:
# Dropping the null values in the data
data= data.dropna(axis=0)
# Ensuring that there are no missing values
data.isnull().sum() / data.shape[0] * 100

id             0.0
dialect        0.0
transformed    0.0
fineText       0.0
dtype: float64

In [6]:
# Taking data sample of 1000 record from each dialect 
unique_dialects = data['dialect'].unique()

sampled_data = pd.DataFrame()

for dialect in unique_dialects:
    dialect_data = data[data['dialect'] == dialect]
    
    sampled_dialect_data = dialect_data.sample(n=1000, random_state=42)  
    
    sampled_data = pd.concat([sampled_data, sampled_dialect_data])
sampled_data

,id,dialect,transformed,fineText
2054,939598542259277824,IQ,0,مثل ما داعش فجر تاريخ اجدادنا قبل سنه واحنه ...
13329,869345568534941696,IQ,0,احنا سنه وحق الله منفرق بس حسبى الله ونعم الو...
7793,936739253412917248,IQ,0,الكاوليه هنود مو عرب خلك غلابه عايشين بدون مش...
12285,995964915583156224,IQ,0,عليمن انطلع حركتنه بس ريد اذكر الزواج الى صدك...
11378,633976940433510400,IQ,0,شيلوو اشتهر حسونى مع نور الزين والردح الزين
...,...,...,...,...
442398,1153015108106444800,BH,17,اى حتى الطير صايدتنه عدل
456131,1015716046085468160,BH,17,اشتكت لزوجها احس انى متضايقه فرد عليها الحنون ...
456657,1016457209851580416,BH,17,انت القمر بوسط ليلى انت مرى وحلمى انت النور لع...
437418,1153244931269566464,BH,17,عجيبه الصراحه ويامنظر الطبيعه تنسى كلشى الله ...
435326,1157361172238262272,BH,17,حق على بحر كان مشهور بس عاش طول عمره فقير وعا...

In [8]:
# Saving the cleaned data as csv
sampled_data.to_csv('sampleData.csv')